canvas {
  display: none;
  position: fixed;
  z-index: 1000;
  padding: 0;
}

.dating {
  margin: 0 5%;
  text-align: center;
  text-decoration: underline;
  font-size: 42px;
  display: none;
  color: #ff4c68;
}

.engagement {
  margin: 0 5%;
  text-align: center;
  text-decoration: underline;
  font-size: 42px;
  display: none;
  color: #ff4c68;
}

.marriage {
  margin: 0 5%;
  text-align: center;
  text-decoration: underline;
  font-size: 42px;
  display: none;
  color: #ff4c68;
}

body {
  font-size: 2em;
  line-height: 2;
  padding: 0;
  text-align: center;
}

.image {
  width: 100%;
  border-radius: 100%;
  padding: 3%;
}

.color-section {
  background-color: #ff4c68;
  color: #fff;
}

.white-section {
  background-color: #fff;
  color: #ff4c68;
}
