canvas {
  display: none;
  position: fixed;
  margin-top: 3em;
  z-index: 5;
  padding: 0;
  background: black;
  opacity:0.6;
}

/* .omghowlong {
  margin: 0 5%;
} */

.dating {
  margin: 0 5%;
  text-align: center;
  text-decoration: underline;
  font-size: 42px;
  display: none;
  color: #ff4c68;
}

.engagement {
  margin: 0 5%;
  text-align: center;
  text-decoration: underline;
  font-size: 42px;
  display: none;
  color: #ff4c68;
}

.marriage {
  margin: 0 5%;
  text-align: center;
  text-decoration: underline;
  font-size: 42px;
  display: none;
  color: #ff4c68;
  z-index: 2;
}

body {
  font-size: 2em;
  line-height: 2;
  padding: 0;
  text-align: center;
}

.container-fluid {
  padding: 2%;
}

.image {
  width: 100%;
  border-radius: 100%;
  padding: 3%;
}

.color-section {
  background-color: #ff4c68;
  color: #fff;
}

.white-section {
  background-color: #fff;
  color: #ff4c68;
}
